.footerContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.footerContainerBrown{
    background-color: rgba(83, 44, 0, 0.296);
    height: 60vh;
    // border: 1px solid black;
    margin-top: 10vh;
}

.footer4section3elements{
    display: flex;
    align-items: flex-start;
    width: 10vw;
    flex-direction: column;
}

.footer4section3elements3{
    display: flex;
}


.footer4Sections{
    display: flex;
    justify-content: space-evenly;
}

.footer4Sections1234{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
}

.footer4Sections i{
    display: flex;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 7px 7px;
    color: white;

}

.footerContainerBlack{
    background-color: rgba(0, 0, 0, 0.419);
    height: 20vh;
}

.footerSocialMedia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
}


.footer4Sections4{
    width: 20vw;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer4Sections4 h4{
    display: flex;
    text-align: start;
}

.footer3images{
    display: flex;
}

.footerImages1-6{
    height: 16vh;
    width: 6vw;
}

.footerImages123456{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 9px;
    height: 13vh;
    width: 5vw;
}

.footerOrga{
    display: flex;
    /* margin-left: 5vw; */
    /* margin-top: 2vh; */
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 101vw;
}


/*
.footerh3{
    display: flex;
    margin-right: 27vw;
    width: 20vw;
}

*/