.footerContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.footerContainerBrown{
    background-color: rgb(20, 11, 1);
    height: 40vh;
    margin-top: 10vh;
}

.footer4Sections{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.footer4Sections1234{
    display: flex;
    flex-direction: column;
    height: 33vh;
    justify-content: space-around;
}

.footerh4-s1234{
    // padding-bottom: 1vh;
}

.footerh4-s1234 h4{
    color: beige;
}

.footer4Sections i{
    display: flex;
    font-size: 12px;
    // border-radius: 50px;
    // border: 1px solid white;
    padding: 7px 7px;
    color: white;
}

.footerSocialMedia i{
    display: flex;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 8px 8px;
    color: white;
}

.footer4section3elements{
    display: flex;
    align-items: flex-start;
    width: 15vw;
    flex-direction: column;
}

.footer4section3elements3 {
    display: flex;
    padding-bottom: 6px;
    align-items: center;
}

.footertextMiniDiv{
    padding-left: 3px;
}

.footertextMiniDiv p{
    padding: 0px;
    margin: 0px;
    color: beige;
}

.footertextMiniDiv a{
    text-decoration: none;
    color: rgb(255, 166, 0);
}

.footertextMiniDiv a:hover { 
    text-decoration: none; 
    color: rgb(255, 255, 255);
    transition: 0.7s;
}

.footerSocialMedia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10vw;
}

.footer4Sections4{
    width: 20vw;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer4Sections4 h4{
    display: flex;
    text-align: start;
}

.footer3images{
    display: flex;
}

.footerImages1-6{
    height: 14vh;
    width: 7vw;
}

.footerImages123456{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 9px;
    height: 70px;
    width: 80px;
    transition: 0.8s;
}

.footerContainerBlack{
    background-color: rgb(0, 0, 0);
    height: 15vh;
}


.footerOrga{
    display: flex;
    margin-top: 5vh;
    justify-content: space-around;
    align-content: center;
    /* width: 134vw; */
    align-items: center;
}

.footerh3Left{
    display: flex;
    margin-right: 0vw;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footerh3Left p{
    color: rgb(255, 255, 255);
}

.footerh3Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 5vh;
}

.footerh3Right1{
    display: flex;
    text-decoration: none; 
}

.footerh3Right1 p{
    display: flex;
    margin: 0;
    padding: 0;
    color: beige;
}

.footerh3Right1 a{
    text-decoration: none;
    color: rgb(255, 166, 0);
}

.footerh3Right1 a:hover { 
    text-decoration: none; 
    color: rgb(255, 255, 255);
    transition: 0.7s;
}