// h1{
//     font-family: ;
// }

body{
    margin: 0px;
}

.navBarProjet{
    display: flex;
}

.navBarLeft{
    display: flex;
}

.navBarCenter{
    display: flex;
}

.navBarRight{
    display: flex;
}