// h1{
//     font-family: ;
// }

body{
    margin: 0px;
}

.navBarProjet{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.navBarLeft{
    display: flex;
}

.navBarCenter{
    display: flex;
}

.navBarRight{
    display: flex;
}