@media screen and (max-width: 390px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #1e1916;
        height: 50vh;
        flex-direction: column;
        justify-content: space-around;
    }

    .navBarLeft{
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
    }
    
    .navBarCenter {
        display: flex;
        align-items: center;
        color: #fff;
        flex-direction: column;
    }
    
    .navLinks {
        display: flex;
        /* width: 5vw; */
        text-decoration: none;
        font-size: 20px;
        /* margin-left: 2vw; */
        /* margin-right: 2vw; */
        color: #fff;
        flex-direction: column;
    }

    .navLinksLogo{
        display: flex;
        text-decoration: none;
        font-size: 35px;
        color: #fff;
        flex-direction: column;
    }
}