.section5Container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 70vh;
    // margin-bottom: 5vh;
}

/*
.section5Container2 p{
    font-size: 20px;
    color: orange;
}
*/

.section5Container1{
    display: flex;
    width: 38vw;
    justify-content: space-around;
    height: 70vh;
}

.section5Container2 p{
    font-size: 18px;
}

.section5ContainerImagesL{
    display: flex;
    height: 42vh;
    width: 17vw;
    border-radius: 10px;
    margin-top: 5vh;
    justify-content: flex-start;
    align-items: flex-end;
}

.section5ContainerImagesR{
    display: flex;
    height: 42vh;
    width: 17vw;
    border-radius: 10px;
    margin-top: 15vh;
}

/*
.section3ImageOrange1{
    height: 30vh;
    width: 30vw;
    background-color:beige;
    z-index: -1;
}
.section3ImageOrange2{
    height: 20vh;
    width: 20vw;
    background-color:beige;
}
*/

.section5Container2{
    display: flex;
    width: 47vw;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.section5ContainerThick{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section5Elements6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5Elements3{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

.section5ContainerThickL{
    display: flex;
    font-size: 15px;
    align-items: center;
}

.sectionContainerThickR{
    display: flex;
    font-size: 15px;
}

.section5ContainerThickL3{
    display: flex;
    padding-right: 1vw;
}

.section5ContainerThickL3 i{
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 183, 38);
    border-radius: 50px;
    font-size: 30px;
    padding: 2vh 1vw;
}

.section5ContainerThickL3 h3{
    font-size: 23px;
}


