.section3Container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section3Container1{
    display: flex;
    width: 38vw;
    justify-content: space-around;
}

.section3ContainerImagesL{
    display: flex;
    height: 34vh;
    width: 16vw;
    border-radius: 10px;
    margin-top: 1vh;
    justify-content: flex-start;
    align-items: flex-end;
}


.section3ContainerImagesR{
    display: flex;
    height: 34vh;
    width: 16vw;
    border-radius: 10px;
    margin-top: 9vh;
}


/*
.section3ImageOrange1{
    height: 30vh;
    width: 30vw;
    background-color:beige;
    z-index: -1;
}
.section3ImageOrange2{
    height: 20vh;
    width: 20vw;
    background-color:beige;
}
*/

.section3Container2{
    width: 47vw;
}

.section3ContainerThick
