.section4Container{
    display: flex;
    height: 100vh;
    margin-left: 5vw ;
    margin-right: 5vw;
    flex-direction: column;
    position: relative;
    background-color: #ffebced7;
    align-items: center;
    margin-top: 8vh;
}

.section4Orga{
    display: flex;
    width: 88vw;
    margin-left: 1vw;
    margin-top: 2vh;
    align-items: center;
    background-color: #f09e23;
    position: absolute;
    justify-content: space-around;
}

.section4h3{
    display: flex;
    margin-right: 18vw;
}

.section4h3 h3{
    font-size: 40px;
    color: white;
}

.barRightPhone{
    display: flex;
    align-items: center;

}

.barRightContact{

}

.section4Text{
    display: flex;
    margin-top: 30vh;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}

.section4Text h1{
    text-align: center;
    transition-duration: 0.4s;
}


